.mainCard{
  margin-top: 18px;
  width: 100%;
  height: 600px;
  background:url("../../assets/moviebanner.png");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
  padding: 70px 60px;
}

.trending{
  background-color: rgba(255, 255, 255, 0.267);
  backdrop-filter: blur(1px);
  border-radius: 32px;
  padding: 10px 20px;
  color: white;
  font-weight: 300;
}


.drama{
  display: flex;
  gap: 10px;
  align-items: center;
}


.drama>span{
  margin-top: 70px;
  padding: 6px 16px;
    background-color: rgba(255, 255, 255, 0.267);
  backdrop-filter: blur(1px);
  border-radius: 32px;
  color: white;
    font-weight: 300;
}


.heading{
  margin-top: 30px;
  color: white;
  max-width: 450px;
}

.heading>h1{
  font-weight: 600;
  font-size: 3rem;
  line-height: 1;
}



.heading>p{
  color: rgba(255, 255, 255, 0.63);
  margin-top: 20px;
}

.iconContainer{
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  

}

.icon{
  display: flex;
  align-items: center;
  gap: 10px;
}


.icon>button{
  display: flex;
  align-items: center;
  gap: 6px;
  color:black;
  background-color: #129cec;
  padding: 10px 15px;
  border-radius: 7px;
  font-weight: 500;

}

.icon>span{
  background-color: rgba(255, 255, 255, 0.158);
  backdrop-filter: blur(3px);
  padding: 10px;
  border-radius: 7px;
  color: white;
  font-weight: 600;

}

.carasoul{
  border-radius: 32px;
    background-color: rgba(255, 255, 255, 0.158);
  backdrop-filter: blur(3px);
  padding:7px;
  display: flex;
  gap: 7px;
align-items: center;
}

.carasoul > span{

  height: 4px;
  background-color: white;
  border-radius: 32px;
}

.carasoul > span:nth-child(1){
  width: 35px;
}
.carasoul > span:nth-child(2){
  width: 15px;
}
.carasoul > span:nth-child(3){
  width:15px;
}