.card{
  width: 450px;
  height: 360px;

  
}

.movieBanner{
  height: 80%;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.movieBanner>img{
  width: 100%;
  height: 100%;
  object-fit: cover;

  object-position: bottom;
}


.cardData{
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.cardData span:nth-child(1){
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}
.cardData span:nth-child(2){
  font-size: .9rem;
  color: white;
}
.cardData span:nth-child(3){
    font-size: .9rem;
  color: white;
}