.heading{
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading>span:nth-child(1){
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.heading>span:nth-child(2){
  color: white;
  background-color: rgba(255, 255, 255, 0.253);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  padding: 7px 15px;
  font-size: 14px;
}