.card{
  flex-shrink: 0;
  height: 100%;
  width: 400px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  color: white;
  /* padding: 10px 14px;
  padding-top: 100px; */
  

}


.card>img
{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

}


.data{
  width: 90%;
  position: absolute;
  bottom: 20px;
  left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title{
    color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
}

.one{
 
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.one>span{
  width: 50%;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.616);
}

.one>span:nth-child(2){
  text-align: right;
}


.completeBar{
   width:100%;
   height: 7px;
   border-radius: 10px;
   background-color: rgba(255, 255, 255, 0.658);
   overflow: hidden;
   position: relative;
}

.completeBar>span{
  height: 100%;
  width: 40%;
  background-color: rgb(230, 14, 122);
  position: absolute;
  top: 0;
  left: 0;
}