
.sidebar{
  height: 97.5%;
  width: 300px;
  background-color: #20192b81;
  position: fixed;
  top: 10px;
  left: 10px;
  border-radius: 15px;
  backdrop-filter: blur(3px);
  padding: 14px;
  display: flex;
  flex-direction: column;
}


.sidebarHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.sidebarHeader>h3{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.6rem;
  font-weight: 700;
  color: white;

}


.navLinks{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.divider{
  width: 100%;
  height: 1px;
  background-color: rgba(68, 145, 180, 0.801);
  margin-top: 40px;
  
}

.footer{
  flex-grow: 1;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}