.footer{
  width: 100%;
  color: black;
  margin-top: 30px;
  background-color:rgba(255, 255, 255, 0.281);
  backdrop-filter: blur(3px);
  border-radius: 4px;
  padding: 15px;
  padding-left: 20px;
 
  font-size: 14px;
  padding-right: 300px;
}

.un{
  font-weight: 600;
  font-size: 1.1rem;
  
}

.mainSec{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  margin-top: 35px;
   text-decoration: 1px underline;
}



.section{
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.language{
  width: fit-content;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.719);
  padding: 6px 13px;
  border-radius: 32px;
  margin-top: 40px;
  color: white;
  display: flex;
  gap: 3px;
  align-items: center;
}

.origin{
  display: block;
  color: rgb(255, 0, 128);
  font-weight: 600;
  margin-top: 20px;
  font-size: 1.2rem;
    display: flex;
  gap: 8px;
  align-items: center;
}