.navbar{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
   position: relative;
}

.inputDiv{
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  background-color: rgba(88, 83, 83, 0.5);
  width:370px;
  border-radius: 12px;
  padding: 14px 15px;
  backdrop-filter: blur(3px);
}


.inputDiv>input{
  border: none;
  outline: none;
  width: 100%;
}


.navIcon{
  display: flex;
  align-items: center;
  gap: 10px;
}


.navIcon>span:nth-child(1){
  height: 40px;
  width: 40px;
  background-color: rgba(88, 83, 83, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.navIcon span:nth-child(1) >  img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:center;
}


.navIcon>span:nth-child(2){
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  overflow: hidden;

}


.navIcon span:nth-child(2) > .bell{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:top;
}




.crowns{
  position: absolute;
  top: -5px;
  right: -9px;
  height: 20px;
  width: 20px;
  object-fit: cover;
 
}